.mat-tab {
  width: 33% !important;
}
.mat-drawer-container {
  width: 100%;
  height: 600px;
  overflow-y: hidden
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

#logout:hover {
  background-color: var(--accent);
}
