<form class="example-form text-center" [formGroup]="doctor" >
  <h2 class=""><b>Register Doctor</b></h2>

  <div class="form-content">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput  formControlName="name" name="name">
      <mat-error *ngIf="doctor.get('name')?.invalid && (doctor.get('name')?.dirty || doctor.get('name')?.touched)">
        Please enter valid name.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="abc@gmail.com" formControlName="email" name="email">
      <mat-error *ngIf="doctor.get('email')?.invalid && (doctor.get('email')?.dirty || doctor.get('email')?.touched)">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" name="password">
      <mat-error *ngIf="doctor.get('password')?.invalid && (doctor.get('password')?.dirty || doctor.get('password')?.touched)">
        Please enter a valid password
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Contact No</mat-label>
      <input matInput placeholder="9287458455" formControlName="contact" name="contact">
      <mat-error *ngIf="doctor.get('contact')?.invalid && (doctor.get('contact')?.dirty || doctor.get('contact')?.touched)">
        Please enter a valid contact number.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Select gender</mat-label>
      <mat-select formControlName="gender" name="gender">
        <mat-option *ngFor="let gender of gender" value="{{gender}}">{{gender}}</mat-option>
      </mat-select>
      <mat-error *ngIf="doctor.get('gender')?.invalid && (doctor.get('gender')?.dirty || doctor.get('gender')?.touched)">
        Please select a valid option.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Select department</mat-label>
      <mat-select formControlName="department" name="department">
        <mat-option *ngFor="let department of departments" value="{{department}}">{{department}}</mat-option>
      </mat-select>
      <mat-error *ngIf="doctor.get('department')?.invalid && (doctor.get('department')?.dirty || doctor.get('department')?.touched)">
        Please select a valid option.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Select degree</mat-label>
      <mat-select formControlName="degree" name="degree">
        <mat-option *ngFor="let degree of degree" value="{{degree}}">{{degree}}</mat-option>
      </mat-select>
      <mat-error *ngIf="doctor.get('degree')?.invalid && (doctor.get('degree')?.dirty || doctor.get('degree')?.touched)">
        Please select a valid option.
      </mat-error>
    </mat-form-field>
  </div>

  <div align="end">
    <button mat-raised-button cdkFocusInitial [disabled]="!doctor.valid" (click)="addDoctor()" color="primary">Ok</button>
  </div>
</form>
