<h4 class="text-center mt-3" style="color: var(--accent);">All Appointments</h4>
<div>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Select doctor</mat-label>
    <mat-select [(ngModel)]="dId">
      <mat-option *ngFor="let doctor of doctorsList" value="{{doctor.dId}}">{{doctor.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline" style="width : 201px">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="getAppointments()">Get Appointments</button>
</div>

<div *ngIf="appointmentDataSource">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyAppointmentFilter($event)" placeholder="Ex. Raj" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="appointmentDataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
        <td mat-cell *matCellDef="let row"> {{row.patientName}} </td>
      </ng-container>

      <!-- Contact Column -->
      <ng-container matColumnDef="patientContact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTACT </th>
        <td mat-cell *matCellDef="let row"> {{row.patientContact}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="apptDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date </th>
        <td mat-cell *matCellDef="let row"> {{row.apptDate | date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="appointmentDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: appointmentDisplayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

</div>
